.sidenav {
  width: 20%;
  min-width: 200px;
  background-color: #2d3748;
}

.logo {
  width: 83px;
  height: 25px;
  margin: 32px;
}

.link {
  border-left: 8px solid #2d3748;
  padding: 10px 16px;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 6px;
}

.active {
  border-left: 11px solid #319795;
}
