.wrapper {
  width: 20%;
  min-width: 200px;
  background-color: #474746;
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 20px;
}

.logo {
  padding-bottom: 30px;
  align-self: flex-start;
}

.linkIcon {
  display: inline-block;
}

.inactiveLink {
  padding: 10px 0;
  text-decoration: none;
  color: white;

  .linkIcon {
    margin-right: 5px;
    filter: invert(100%);
  }
}

.activeLink {
  color: rgb(191, 92, 88);

  .linkicon {
    // https://codepen.io/sosuke/pen/Pjoqqp
    filter: invert(38%) sepia(30%) saturate(1289%) hue-rotate(314deg)
      brightness(104%) contrast(68%);
  }
}
