@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600&display=swap");

.wrapper {
  display: flex;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.content {
  flex: 1 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  padding: 16px 32px;
  overflow-y: auto;
  background: #f9f9f9;
}
