.skillFilter {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  > * {
    padding-right: 1em;
  }
}
.noRoles {
  text-align: center;
  max-width: 38ch;
  margin: 4rem auto;
}
.noRoles:before {
  content: "";
  display: block;
  background: url("./assets/icons-empty-folder.svg") no-repeat;
  height: 250px;
  opacity: 0.6;
  margin-left: 9ch;
}
