.container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  padding: 1em;
  margin: 0.5em 0em;
}

.projectName {
  text-decoration: underline;
  outline: none;
  border: none;
  width: 100%;
  font-weight: 700;
  font-size: 27px;
  margin-bottom: 1em;
}

.button {
  background: none;
  border: none;
  outline: none;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
  padding: 3px 6px;

  &:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }
}

.projectDetail {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 1em 0;
}

.dateContainer {
  :first-child {
    margin-bottom: 0.5em;
  }
}

.roleContainer {
  display: flex;
  justify-content: space-between;
  background-color: #e5e5e5;

  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  padding: 1em;

  label,
  .label {
    display: flex;
    flex-direction: column;
    font-weight: 700;
  }

  input,
  .input {
    background-color: #e5e5e5;

    border: none;
    border-bottom: 1px solid #000000;
  }

  select,
  .select {
    align-self: flex-start;
  }

  .button,
  button {
    align-self: flex-end;
  }
}

.roleGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
