.container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  padding: 1em;
  margin: 0.5em 0em;
}

.button {
  background: none;
  border: none;
  outline: none;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
  padding: 3px 6px;

  &:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }
}

.projectDetail {
  display: flex;
  flex-direction: column;
  border: 2px solid #e5e5e5;
  width: 800px;
  height: 1200px;
  padding: 1em;
  margin: 0.5em 0;
}
