.container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  padding: 1em;
  margin: 0.5em 0em;
}

.projectDetail {
  display: flex;
  flex-direction: column;
  border: 2px solid #e5e5e5;
  width: 800px;
  height: 1200px;
  padding: 1em;
  margin: 0.5em 0;
}
