.dateContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
}

.roleContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid #c4c4c4;
  padding: 1em;

  label,
  .label {
    display: flex;
    flex-direction: column;
    font-weight: 700;
  }

  input,
  .input {
    border: none;
  }

  select,
  .select {
    align-self: flex-start;
  }

  .button,
  button {
    align-self: flex-end;
  }
}

.header {
  width: calc(50% - 32px);
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 32px;
}

.employees {
  margin: 16px 0;
}

.controls {
  display: flex;
  justify-content: flex-end;

  .button {
    margin-left: 8px;
  }
}
