.select {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  color: #464646;

  // https://react-select.com/styles#using-classnames
  :global(.react-select__control) {
    background-color: #f8f8f8;
    border: 1px solid #000000;
    border-radius: 10px;
  }
}

.label {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 4px;
  color: #000000;
}
