.assignmentSelect :global(.assignmentSelect__control) svg {
  margin-left: 10px;
  opacity: 0.5;
}

.assignmentSelect :global(.assignmentSelect__value-container) {
  padding: 2px 5px;
}

.assignmentSelect :global(.assignmentSelect__menu) {
  margin-top: 4px;
}

.assignmentSelect :global(.assignmentSelect__menu-list) {
  padding-top: 0;
  padding-bottom: 0;
}

.assignmentSelect :global(.assignmentSelect__menu-list)::-webkit-scrollbar {
  width: 6px;
}

.assignmentSelect
  :global(.assignmentSelect__menu-list)::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: rgba(196, 196, 196, 0.8);
}

.assignmentSelect
  :global(.assignmentSelect__menu-list .assignmentSelect__option) {
  padding: 4px 34px;
}

.assignmentSelect
  :global(.assignmentSelect__menu-list .assignmentSelect__option--is-focused) {
  color: #ffffff;
  background-color: #319795;
}

.assignmentSelect
  :global(.assignmentSelect__menu-list .assignmentSelect__option--is-selected) {
  color: #319795;
  background-color: transparent;
  font-weight: bold;
}

.assignmentSelect
  :global(.assignmentSelect__menu-list
    .assignmentSelect__option--is-selected):hover {
  color: #ffffff;
  background-color: #319795;
}
