.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  border: 2px solid #e5e5e5;
  width: 800px;
  padding: 1em;
  margin: 0.5em 0;
}

.projectName {
  display: flex;
  align-items: flex-start;
  div {
    border-bottom: black 3px solid;
    span {
      font-weight: bold;
    }
  }
}

.dates {
  display: grid;
  grid-template-columns: 1fr 1fr;
  div {
    color: rgb(110, 110, 110);
    font-size: x-small;
    font-weight: bold;
    span {
      display: block;
      color: black;
      font-size: small;
      font-weight: normal;
    }
  }
}

.viewProject {
  color: rgb(91, 160, 248);
  float: right;

  &:hover {
    color: rgb(46, 91, 150);
  }
}
