.wrapper {
  border: 2px solid #e5e5e5;
  padding: 1em;
  margin: 0.5em 0;
}

.container {
  display: flex;
  justify-content: space-between;
}

.projectNameWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: black 3px solid;
}

.projectName {
  font-weight: bold;
}

.viewProject {
  color: rgb(91, 160, 248);
  float: right;

  &:hover {
    color: rgb(46, 91, 150);
  }
}
