.displayHorizontalContainer {
    display: flex;
}

.displayVerticalContainer {
    display: flex;
    flex-direction: column;
}

.profilePicture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.employeeDetailsContainer {
    padding: 5px;
}

.employeeDetail {
    padding: 5px;
}

.dateContainer {
    padding: 5px;
}

.verticalMargin > * {
    margin: 7.5px 0px 7.5px 0px;
}

.horizontalMargin > * {
    margin: 0px 7.5px 0px 7.5px;
}

.bold {
    font-weight: 700;
}

.skill {
    border-radius: 5px;
    background-color: rgb(237, 237, 237);
    width: 100px;
    position: relative;
    margin: auto;
    text-align: center;
}

.skillContainer {
    width: 250px;
}

.skillBtn {
    margin-top: 5px;
    width: 100px;
    border-radius: 5px;
}

.availabilityContainer {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.availabilityContainer input {
    opacity: 0;
    width: 0;
    height: 0; 
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.availableSpan {
    padding-top: 15px;
}

.cardSpacing {
    margin-bottom: 15px;
}