.button {
  display: flex;
  align-content: center;
  padding: 8px 12px;
  border: unset;
  border-radius: 0;
  cursor: pointer;
}

.primary {
  background-color: #e9e9e9;

  &:hover {
    background-color: #dcdcdc;
    border: unset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }
}

.link {
  background-color: unset;
  font-weight: 600;

  &:hover {
    border: unset;
    box-shadow: none;
  }
}
