.assignedEmployeeContainer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 32px;
  padding: 24px 0;
  border-bottom: 1px solid gray;
}

.assignedEmployeeContainer:last-of-type {
  border-bottom: none;
}

.employee,
.date {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
