.table {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  background-color: #4d4d4d;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  flex: 1 1;
  min-height: 45px;
  border-bottom: 1px solid #e5e5e5;
}

.rows {
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

.row {
  flex: 1 1;
  min-height: 60px;
  display: flex;
  border-bottom: 1px solid #e5e5e5;
}

.row:nth-child(even) {
  background-color: #f8f8f8;
}

.cell {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
  border-right: 1px solid #e5e5e5;
}

.cell:last-child {
  border-right: unset;
}
