.actionBar {
  width: calc(100%);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;

  .actionBarTitle {
    font-size: 27px;
    color: #222;
  }

  .actionBarActions {
    display: flex;
    align-items: center;
  }

  .actionBarFilter {
    outline: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 3px;
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}

.row {
  padding: 30px 0px 10px 0px;
  display: table;
  min-height: 30px;
  width: calc(100% - 60px);
}

.noResults {
  width: 100%;
  text-align: center;
  display: table;
  min-height: 30px;
  color: #777;
  padding: 30px 0;
}

// TODO: Put these in their own component when used
.filterTagWrapper {
  padding: 5px;
  float: right;
  bottom: 5px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

.filterTag {
  margin-left: 5px;
  display: table;
  font-size: 12px;
  border-radius: 3px;
  padding: 2px 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
