.wrapper {
  width: calc(100% - 145px);
  padding: 0 40px 0 105px;
}

.actionBar {
  width: calc(100%);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;

  .actionBarTitle {
    font-size: 27px;
    color: #222;
  }

  .actionBarActions {
    display: flex;
    align-items: center;
  }

  .actionBarFilter {
    outline: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 3px;
  }

  .actionBarIcon {
    border: none;
    outline: none;
    background-color: white;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 100%;
    padding: 2px;
    width: 25px;
    height: 25px;
    margin-left: 5px;

    &.alert {
    }

    &.settings {
    }

    &:hover {
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
      // background-color: #ccc;
    }

    > .icon {
      width: 20px;
      height: 20px;
    }
  }
}

.row {
  padding: 30px 0px 10px 0px;
  display: table;
  min-height: 30px;
  width: calc(100% - 60px);
}

.addButton {
  background: none;
  border: none;
  outline: none;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  transition: all 0.2s;
  padding: 3px 6px;

  &:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }
}

.noResults {
  width: 100%;
  text-align: center;
  display: table;
  min-height: 30px;
  color: #777;
  padding: 30px 0;
}

// TODO: Put these in their own component when used
.filterTagWrapper {
  padding: 5px;
  float: right;
  bottom: 5px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

.filterTag {
  margin-left: 5px;
  display: table;
  font-size: 12px;
  border-radius: 3px;
  padding: 2px 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
